<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My first website</title>
		<meta name="viewport" content="width=device-width, intitial-scale=1">
		<link rel="stylesheet" href="~/css/site.css"/>
	</head>
	<body>
		<nav>
			<a asp-controller="Home" asp-action="Index">Home Page</a>
			<a asp-controller="Home" asp-action="Privacy">Privacy Page</a>
			<a asp-controller="Student" asp-action="Index">View Students</a>
		</nav>
		<main>
		@RenderBody()
		</main>
	</body>
</html>